.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
nav {
  display: flex;
  padding: 2rem;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 10px 10px #ededed;
}
nav input {
  padding: 0.3rem 0.7rem;
}
.events {
  display: flex;
  gap: 2rem;
  width: 95%;
  margin: auto;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.event {
  position: relative;
}
.event .tag {
  background-color: #ffffff;
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 0.3rem 0.7rem;
  border-radius: 5px;
  font-weight: bold;
}
.event img {
  height: 250px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px #999999;
}
.header {
  display: flex;
  align-items: center;
  margin: 2rem;
  justify-content: space-between;
}
.header select {
  padding: 0.3rem 0.7rem;
  font-weight: bold;
  color: #666666;
}
